//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 Education (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 02 28 00:56:07 2025

IO_LOC "SCL" 32;
IO_PORT "SCL" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=1.8;
IO_LOC "debug[5]" 38;
IO_PORT "debug[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "debug[4]" 37;
IO_PORT "debug[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "debug[3]" 36;
IO_PORT "debug[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "debug[2]" 85;
IO_PORT "debug[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "debug[1]" 84;
IO_PORT "debug[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "debug[0]" 83;
IO_PORT "debug[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_leds[5]" 16;
IO_PORT "n_leds[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_leds[4]" 15;
IO_PORT "n_leds[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_leds[3]" 14;
IO_PORT "n_leds[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_leds[2]" 13;
IO_PORT "n_leds[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_leds[1]" 11;
IO_PORT "n_leds[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "n_leds[0]" 10;
IO_PORT "n_leds[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SDA_OUT" 31;
IO_PORT "SDA_OUT" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=1.8;
IO_LOC "n_p1_btn" 86;
IO_PORT "n_p1_btn" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_p0_btn" 63;
IO_PORT "n_p0_btn" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_b_btn" 70;
IO_PORT "n_b_btn" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_t_btn" 82;
IO_PORT "n_t_btn" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_r_btn" 80;
IO_PORT "n_r_btn" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_l_btn" 81;
IO_PORT "n_l_btn" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_enter_btn" 35;
IO_PORT "n_enter_btn" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_reset" 4;
IO_PORT "n_reset" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk_in" 52;
IO_PORT "clk_in" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_thin_sw[7]" 79;
IO_PORT "n_thin_sw[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_thin_sw[6]" 77;
IO_PORT "n_thin_sw[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_thin_sw[5]" 76;
IO_PORT "n_thin_sw[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_thin_sw[4]" 75;
IO_PORT "n_thin_sw[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_thin_sw[3]" 74;
IO_PORT "n_thin_sw[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_thin_sw[2]" 73;
IO_PORT "n_thin_sw[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_thin_sw[1]" 72;
IO_PORT "n_thin_sw[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_thin_sw[0]" 71;
IO_PORT "n_thin_sw[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_lo[7]" 41;
IO_PORT "n_wide_sw_lo[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_lo[6]" 42;
IO_PORT "n_wide_sw_lo[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_lo[5]" 51;
IO_PORT "n_wide_sw_lo[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_lo[4]" 53;
IO_PORT "n_wide_sw_lo[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_lo[3]" 54;
IO_PORT "n_wide_sw_lo[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_lo[2]" 55;
IO_PORT "n_wide_sw_lo[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_lo[1]" 56;
IO_PORT "n_wide_sw_lo[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_lo[0]" 57;
IO_PORT "n_wide_sw_lo[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_hi[7]" 26;
IO_PORT "n_wide_sw_hi[7]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_hi[6]" 27;
IO_PORT "n_wide_sw_hi[6]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_hi[5]" 28;
IO_PORT "n_wide_sw_hi[5]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_hi[4]" 29;
IO_PORT "n_wide_sw_hi[4]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_hi[3]" 30;
IO_PORT "n_wide_sw_hi[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_hi[2]" 33;
IO_PORT "n_wide_sw_hi[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_hi[1]" 34;
IO_PORT "n_wide_sw_hi[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "n_wide_sw_hi[0]" 40;
IO_PORT "n_wide_sw_hi[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SDA_IN" 49;
IO_PORT "SDA_IN" IO_TYPE=LVCMOS18 PULL_MODE=NONE BANK_VCCIO=1.8;
